<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Party Time!</title>
    <link rel='shortcut icon' type='image/x-icon' href='./assets/favicon.ico' />
    <link rel="stylesheet" href="../styles/master.css" media="screen" charset="utf-8">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
  </head>
  <body>
    <div class="mainContent">
      <h1>Dashboard Login</h1>
      <hr>

      <div id="signin">
      <h1>Dashboard Login</h1>
        <input type="email" id="email" placeholder="enter your email"><br/>
        <input type="password" id="password" placeholder="enter your password"/><br/>
        <button type="button" name="button" id="signin">Singin</button>
      </div>

    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBoFyQUDk7zyqlguUq8pwbB5TUqmptp6ao",
        authDomain: "wedding-9b676.firebaseapp.com",
        databaseURL: "https://wedding-9b676.firebaseio.com",
        projectId: "wedding-9b676",
        storageBucket: "wedding-9b676.appspot.com",
        messagingSenderId: "542398398421"
      };
      firebase.initializeApp(config);

      var auth = firebase.auth();

      var email = document.querySelector("#email");
      var password = document.querySelector("#password");
      var signInButton = document.querySelector("#signin");

      signInButton.addEventListener("click", signIn);

      function signIn() {
        auth.signInWithEmailAndPassword(email.value, password.value).
        then(function(user){
          console.log(user)
        }, function(error) {
          console.log(error.message);
          // error message show that you need to enable that authentication in firebase
        });

      }

      // on state changed
      auth.onAuthStateChanged(firebaseUser => {
        // check email
        if(firebaseUser){
          // window.location = '/rsvp'; //After successful login, user will be redirected to home.html
          currentEmail.innerHTML = auth.currentUser.email
          currentEmail.style.display = 'block';
        } else{
          currentEmail.style.display = 'none';
        }

      });


      // •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      // signout functionality
      // •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      // var singoutButton = document.querySelector("#signout");
      // singoutButton.addEventListener("click", clickSignoutButton);

      function clickSignoutButton(){
        auth.signOut()
      }



    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114048710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114048710-1');
    </script>

  </body>
</html>
