<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <title>Party Time!</title>
      <link rel='shortcut icon' type='image/x-icon' href='./assets/favicon.ico' />
      <link rel="stylesheet" href="../styles/master.css" media="screen" charset="utf-8">
    </head>
    <body>

      <div class="mainContent">
        <h1>A Note</h1>
        <hr>

        <h2>Dear Guest,</h2>
        <div id="registry">
          <p>Thank you for visiting our little slice of the web. We are excited to celebrate with you.
          </p>
          <p>For our registry, we decided to keep it simple. Through Amazon, you can help us replace hand-me-downs with official adult home basics.
          </p>
          <p>Thank you for helping us jump start our married life. It means everything.
          </p>
          <p>Love,</p>
          <p>
            Ariana and Joey</br>
            arianaandjoey@gmail.com</br>
            <button onclick="window.open('https://www.amazon.com/wedding/share/arianaandjoeyadulting')">
              <a>Visit Amazon Registry »</a>
            </button>
          </p>
        </div>
      </div>

      <nav>
        <ul>
          <li><a href="/the-day">the day</a></li>
          <li><a href="/travel">travel</a></li>
          <li><a href="/registry">registry<div id="underline"></div></a></li>
        </ul>
      </nav>

      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114048710-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114048710-1');
      </script>

  </body>
</html>
