<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Cofones</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link rel="stylesheet" href="../styles/registry.css" media="screen" charset="utf-8">
  </head>
  <body>

    <section>
      <header id="logo">
        <h1><a href="../index.html">Ariana &amp; Joey</a></h1>
      </header>
      <h1>The Registry</h1>
    </section>

    <div id="mainContent">
      <div class="mainContentDiv left">
        <h1>A Note</h1>
        <hr>
          <h2>Dear Guest, </h2>
          <p>We live in a studio, 500 sqft of paradise in Hell's Kitchen. Yup, that's it. So we decided to split the standard wedding registry into two --</p>

          <p>Our <b>Amazon Registry</b> helps us to replace hand me downs with official adult home goods.</p>

          <p>Our <b>Honeymoon Fund</b> gives you the ability to contribute to our first adventure as husband and wife. Ohhh exciting!</p>

          <p>Thank you for helping us jump start our married life together. It means everything. </p>

          <p>Love, <br>Ariana and Joey</p>
      </div>

      <div class="mainContentDiv right">
          <button>Visit <span class="special">Amazon</span> Registry</button>
          <br>
          <button>Visit <span class="special">Honeymoon</span> Registry</button>
      </div>
    </div>

    <nav id="desktopNav">
      <ul>
        <li>
          <a href="./details.html" class="currentPage" id="currentPage">Check out all the<span class="navElement">details »</span></a>
        </li>
        <li>
          <a href="./views/registry.html">Spy an eye on our <span >registry »</span></a>
        </li>
        <li>
          <a href="../sights.html">Plan out your<span class="navElement">sights »</span></a>
        </li>
      </ul>
    </nav>

    <nav id="mobileNav">
      <ul id="mobileNav">
        <li>
          <a href="./details.html"><span class="navElement" id="currentPage">details »</span></a>
        </li>
        <li>
          <a href="./views/registry.html"><span class="navElement" >registry »</span></a>
        </li>
        <li>
          <a href="../sights.html"><span class="navElement">sights »</span></a>
        </li>
      </ul>
    </nav>

  </body>
</html>
