<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Cofones</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link rel="stylesheet" href="../styles/views.css" media="screen" charset="utf-8">
  </head>
  <body>


    <section>
      <header>
        <h1 id="test"><a href="../index.html">Ariana &amp; Joey</a></h1>
      </header>
      <h1>Honeymoon &amp; Registry </h1>
      <!-- <h3 id="subtitle">New York City, June 9th 2018!</h3> -->
    </section>

    <div id="mainContent">
      <div class="mainContentDetails left">
        <h1>A Note</h1>
        <hr>
          <h2>Dear Guest --</h2>
          <p>Ceremony and reception all in one. Our one stop shop for a damn good time.</p>
          <p>Go explore the city we call home! When you are tuckered out, stop by our wedding suite to chill, swim, and wax philosophic.</p>
      </div>

      <div class="mainContentDetails right">
        <h1>Hotels & Transport</h1>
        <hr>
          <button>Visit Honeymoon Registry</button>
          <br>
          <button>Visit Amazon Registry</button>
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="./views/details.html">Check out all the<span class="navElement">details »</span></a></li>
        <li><a href="./views/registry.html">Spy an eye on our<span class="navElement">registry »</span></a></li>
        <li><a href="./views/sights.html">Plan out your<span class="navElement">sights »</span></a></li>
      </ul>
    </nav>

  </body>
</html>
