<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Party Time!</title>
    <link rel='shortcut icon' type='image/x-icon' href='./assets/favicon.ico' />
    <link rel="stylesheet" href="../styles/master.css" media="screen" charset="utf-8">
  </head>
  <body>

    <div class="mainContent" id="rsvp">
      <h1>RSVP</h1>
      <hr>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/D6ys1myeEE4"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      >
      </iframe>
      <h3>You are invited to...</h3>
      <h2>Ariana & Joey's Wedding!</h2>

      <h3>Saturday June 9th, 2018 at Noon</h3>
      <h4 class="links"><a href="http://phdlounge.com/home/" target="_blank">Dream Hotel Downtown</a> in New York City</h4>
      <h1 id="test"></h1>
      <p>We'd love for you to join us on our big day! Couple of quick things -
        <ul>
          <li>RSVP by May 1st, 2018</li>
          <li>Although we love your little ones, this is an adult only affair.</li>
          <li>Visit our wedding website for all additional details</li>
        </ul>
      <hr />
      <section id="info">
        <h3>Will you be joining us?</h3>
        <input type="radio" onclick="rsvping(this.value)" name="response" value="2">Of course! Both of us will be there.<br>
        <input type="radio" onclick="rsvping(this.value)" name="response" value="1">Yes! But only one of us can attend.<br>
        <input type="radio" onclick="rsvping(this.value)" name="response" value="0">No, but we will be celebrating from afar!<br>
      </section>

      <form id="rsvpForm" style="display: none">
        <div id="rsvpDetails" style="display: none">
          <h2>Fantastic! Please fill in the details below</h2>
          <p>Any dietary restrictions?</p>
          <input type="text" name="food" value="">
          <br>
          <p>Phone Number</p>
          <input type="tel" name="telephone" value="">

          <p>Anything else?</p>
          <input type="text" name="misc" value="">
          <br />

        </div>
        <button type="submit">RSVP</button>




      </form>
      <h2 id="thankYou" style="display: none">Thanks for RSVPing!
        <button><a href="/">Check out our wedding website!</a></button>
      </h2>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script>

      var name = '';

      document.addEventListener("DOMContentLoaded", function(){
      // Handler when the DOM is fully loaded
        var url = window.location + '';
        console.log(url);
        var urlAux = url.split('=');
        name = urlAux[1];
        document.getElementById("test").innerHTML = name;
      });

      function rsvping(rsvpValue) {
        if (rsvpValue > 0) {
          document.getElementById("rsvpForm").style.display = 'block';
          document.getElementById("rsvpDetails").style.display = 'block';

        } else {
          document.getElementById("rsvpForm").style.display = 'block';
          document.getElementById("rsvpDetails").style.display = 'none';
        }
      }

      var firebaseRefYes = new Firebase('https://wedding-9b676.firebaseio.com/couples/yes');
      var firebaseRefNo = new Firebase('https://wedding-9b676.firebaseio.com/couples/no');
      var formField = document.getElementById('rsvpForm');
      let time = moment().format('LLLL');

      formField.addEventListener("submit", function(event) {
          event.preventDefault();
          rsvpValue = document.querySelector('input[name="response"]:checked').value;
          if(rsvpValue > 0) {
            rsvp = {
              time: time,
              guests: name,
              quantity: rsvpValue,
              food: formField.food.value,
              phone: formField.telephone.value,
              misc: formField.misc.value,
            }
            firebaseRefYes.push(rsvp);
          } else {
            rsvp = {
              time: time,
              guests: name,
              quantity: rsvpValue
            }
            firebaseRefNo.push(rsvp);
          }

          console.log(rsvp)
          document.getElementById("info").style.display = "none";
          document.getElementById("rsvpForm").style.display = "none";
          document.getElementById("thankYou").style.display = 'block';
      });

      function rsvp() {

        console.log(rsvp);
        return rsvp;
      }

      // Save data to firebase
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114048710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114048710-1');
    </script>

  </body>
</html>
