<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Party Time!</title>
    <link rel='shortcut icon' type='image/x-icon' href='./assets/favicon.ico' />
    <link rel="stylesheet" href="../styles/master.css" media="screen" charset="utf-8">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>
  <body>

    <div class="center" id="howdy" style="display: none;">
      <h3 id="title">Thank you for RSVPing! <i class="em em-wink"></i><br />
        <span id="date">Redirecting you to the main page...</span>
      </h3>
    </div>

    <div class="mainContent" id="rsvp">
      <h1>RSVP</h1>
      <hr>
      <iframe
        id="videoCSS"
        width="100%"
        height="275"
        src="https://www.youtube.com/embed/D6ys1myeEE4"
        frameborder="0"
        allow="encrypted-media"
        autoplay
        allowfullscreen
      >
      </iframe>
      <h3>Inez &amp; Florian Dziedzic invite you to</h3>
      <h2>Ariana & Joey's Wedding!</h2>

      <h3>Saturday June 9th, 2018 / 12p - 4p</h3>
      <h3 class="links"><a href="http://phdlounge.com/home/" target="_blank">Dream Hotel Downtown</a> in NYC</h3>

      <hr /></hr>

      <div id="reminders">
        <p><span id="name"></span></p>
        <p>We'd love for you to come and celebrate with us! Here's a few things you should know:</p>
        <ul id="rsvpNotes">
          <li>Please RSVP by May 1st, 2018</li>
          <li>We adore your little ones, but this is an adult only affair</li>
          <li>Visit our <a href="/" target="_blank" style="text-decoration: underline">wedding website</a> for all additional details</li>
        </ul>
      </div>

      <br />

      <div id="rsvpDiv">
      <section>
        <h2>RSVP<i style="float: right;" class="em em-rocket"></i></h2>
        <h3>Will you be joining us?</h3>
        <input type="radio" onclick="rsvping(this.value)" name="response" value="1">Of course! I'll be there.<br>
        <input type="radio" onclick="rsvping(this.value)" name="response" value="0">No, but I'll be celebrating from afar!<br>
      </section>

      <form id="rsvpForm" style="display: none">

        <div id="rsvpDetails" style="display: none">
          <hr></hr>
          <h2>Hip, hip, hooray!</h2>
          <p style="color: #f1cd8f">Please fill in the details below.</p>

          <p>Phone Number</p>
          <input type="tel" pattern="[1-9]{1}[0-9]{9}" placeholder="111-111-1111" name="telephone" required value="">
          <br />

          <p>Any dietary restrictions?</p>
          <input type="text" name="food" value="">
          <br />

          <p>Anything else?</p>
          <input type="text" name="misc" value="">
          <br />

        </div>
        <button type="submit">RSVP</button>
        </div>
      </form>
    </div>

    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script>

      var name = '';

      document.addEventListener("DOMContentLoaded", function(){
      // Handler when the DOM is fully loaded
        var url = window.location + '';
        var urlAux = url.split('=');
        name = decodeURI(urlAux[1]);
        // var names = name.split('&');
        // name1 = names[0].trim();
        // name2 = names[1].trim();
        document.getElementById("name").innerHTML = name;

      });


      function rsvping(rsvpValue) {
        if (rsvpValue == 1) {
          document.getElementById("rsvpForm").style.display = 'block';
          document.getElementById("rsvpDetails").style.display = 'block';

        } else {
          document.getElementById("rsvpForm").style.display = 'block';
          document.getElementById("rsvpDetails").style.display = 'none';
        }
      }

      var firebaseRefYes = new Firebase('https://wedding-9b676.firebaseio.com/individuals/yes');
      var firebaseRefNo = new Firebase('https://wedding-9b676.firebaseio.com/individuals/no');
      var formField = document.getElementById('rsvpForm');
      let time = moment().format('LLLL');

      formField.addEventListener("submit", function(event) {
          event.preventDefault();
          rsvpValue = document.querySelector('input[name="response"]:checked').value;

          var rsvp = {};
          if(rsvpValue == 1) {
            rsvp = {
              time: time,
              guest: name,
              quantity: rsvpValue,
              food: formField.food.value,
              phone: formField.telephone.value,
              misc: formField.misc.value,
            }
            firebaseRefYes.push(rsvp);
          } else {
            rsvp = {
              time: time,
              guests: name,
              quantity: rsvpValue
            }
            firebaseRefNo.push(rsvp);
          }
          console.log(rsvp)
          var rsvpDiv = document.getElementById("rsvp");
          document.body.removeChild(rsvpDiv);

          document.getElementById("howdy").style.display = 'block';

          setTimeout(function () {

            window.location.href = "/"; //will redirect to your blog page (an ex: blog.html)
         }, 3000);
      });


    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114048710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114048710-1');
    </script>

  </body>
</html>
