<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Party Time!</title>
    <link rel='shortcut icon' type='image/x-icon' href='./assets/favicon.ico' />
    <link rel="stylesheet" href="../styles/master.css" media="screen" charset="utf-8">
  </head>
  <body>

    <div class="mainContent">

      <video width="350" height="300" controls>
        <source src="../assets/invite-video.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>

      <p>Saturday June 9th, 2018 -- 12p-4p</p>
      <p>Dream Hotel Downtown in New York, NY</p>
      <h1>RSVP</h1>
      <hr>
      <form action="/action_page.php">
        <h3>Inez & Florian</h3>
        First, can you join us?<br>
        <input type="checkbox" name="yes" value="yes">Of course! Both of us will be there.<br>
        <input type="checkbox" name="yes" value="yes">Yes! But only one of us can attend.<br>
        <input type="checkbox" name="no" value="no">No, but we will be celebrating from afar!<br>
        <br>
        <!-- Name<br>
        <input type="text" name="guest one" value="Name">
        <input type="text" name="guest two" value="Name">
        <br><br> -->
        Dietary Restrictions?<br>
        <input type="text" name="diet" value="Name">
        <br>
        Music Requests?<br>
        <input type="text" name="music" value="Name">
        <br>
        Words of Wisdom<br>
        <input type="text" name="wisdom" value="Name">
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <nav>
      <ul>
        <li><a href="/the-day">the day</a></li>
        <li><a href="/travel">travel<div id="underline"></div></a></li>
        <li><a href="/registry">registry</a></li>
      </ul>
    </nav>

  </body>
</html>
