<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Cofones</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link rel="stylesheet" href="../styles/sights.css" media="screen" charset="utf-8">
  </head>
  <body>

    <section>
      <header id="logo">
        <h1><a href="/">Ariana &amp; Joey</a></h1>
      </header>
      <h1>Sights</h1>
    </section>

    <div id="mainContent">
      <div class="mainContentDiv left">
        <h1>See & Do</h1>
        <hr>
        <p>Below are a couple of places to check out near our venue, but NYC is your oyster! Just get lost and have fun.</p>

          <div>
            <h3>Chelsea Market
              <span class="site"><a href="" target="_blank">| Website</a></span>
            </h3>
            <p>An indoor market with a tons of small vendors displaying their wears. A great place to wander and for a quick meal!</p>
          </div>

          <div>
            <h3>The Highline
              <span class="site"><a href="" target="_blank">| Website</a></span>
            </h3>
            <p>An old elevated railroad line that was transformed into 1.45 miles of outdoor space with installation pieces, greenery, and of course the NYC skyline.</p>
          </div>

          <div>
            <h3>"The Whitney" Museum of Art
              <span class="site"><a href="" target="_blank">| Website</a></span>
            </h3>
            <p>2,000 square feet of art focusing on pieces from the 20th-21st century. There's also outdoor observation decks on the 5th, 6th, and 7th floor to a view of the city.</p>
          </div>

          <div>
            <h3>Union Square
              <span class="site"><a href="" target="_blank">| Website</a></span>
            </h3>
            <p>A park dropped down in the middle of it all! On Fridays and Saturdays, there's a beautiful market with fresh foods and beautiful wears. </p>
          </div>

          <div>
            <h3>Ground Zero Museum
              <span class="site"><a href="" target="_blank">| Website</a></span>
            </h3>
            <p>A piece of history captured in an incredibly powerful museum.</p>
          </div>

          <div>
            <h3>Soul Cycle Chelsea
              <span class="site"><a href="" target="_blank">| Website</a></span>
            </h3>
            <p>If you like spinning, you gotta take a class at Soul Cycle. NYC spinners swear by it for a good workout and great time.</p>
          </div>
      </div>

      <div class="mainContentDiv right">
        <h1>Eat</h1>
        <hr>
        <div>
          <h3>The Park
            <span class="site"><a href="" target="_blank">| Website</a></span>
          </h3>
          <p>A great place for brunch or dinner, your dining atmosphere is a glassed-in garden & a rooftop patio overlooking the highline.</p>
        </div>

        <div>
          <h3>Milk Bar Chelsea
            <span class="site"><a href="" target="_blank">| Website</a></span>
          </h3>
          <p>A bakery known for its quirky and delicious desserts (our favorite...cereal milk ice cream). A perfect summer treat.</p>
        </div>

        <div>
          <h3>Fat Cat
            <span class="site"><a href="" target="_blank">| Website</a></span>
          </h3>
          <p>A haunt of NYU students, this underground bar serves us some great jazz as you indulge in a bunch of different games (from board games to pool).</p>
        </div>

        <div>
          <h3>Dos Caminos
            <span class="site"><a href="" target="_blank">| Website</a></span>
          </h3>
          <p>A lively cantina serving modern Mexican cuisine with solid guacamole and knock you on your booty tequila cocktails.</p>
        </div>

        <div>
          <h3>The Grey Dog
            <span class="site"><a href="" target="_blank">| Website</a></span>
          </h3>
          <p>A casual coffeehouse serving all meals from breakfast to dinner. Oh and the pricing is a nice break from the NYC craziness.</p>
        </div>

        <div>
          <h3>Art Bar
            <span class="site"><a href="" target="_blank">| Website</a></span>
          </h3>
          <p>A dive bar with good drinks and solid bar food. A fun local spot for those looking to not break the bank on drinks.</p>
        </div>

      </div>

    </div>

    <nav id="desktopNav">
      <ul>
        <li>
          <a href="/details">Check out all the<span class="navElement">details »</span></a>
        </li>
        <li>
          <a href="/registry">Spy an eye on our <span class="navElement">registry »</span></a>
        </li>
        <li>
          <a href="/sights">Plan out your<span class="navElement" id="currentPage">sights »</span></a>
        </li>
      </ul>
    </nav>

    <nav id="mobileNav">
      <ul id="mobileNav">
        <li>
          <a href="/details"><span class="navElement">details »</span></a>
        </li>
        <li>
          <a href="/registry"><span class="navElement">registry »</span></a>
        </li>
        <li>
          <a href="/sights"><span class="navElement" id="currentPage">sights »</span></a>
        </li>
      </ul>
    </nav>

    <script>


    </script>

  </body>
</html>
