<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Cofones</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link rel="stylesheet" href="../styles/details.css" media="screen" charset="utf-8">
  </head>
  <body>


    <section>
      <header id="logo">
        <h1 id="test"><a href="/">Ariana &amp; Joey</a></h1>
      </header>
      <h1>When & Where </h1>
      <h3 id="subtitle">New York City, <br /> Saturday June 9th 2018</h3>
    </section>

    <div id="mainContent">
      <div class="mainContentDiv left">
        <h1>Ceremony &amp; Reception</h1>
        <hr>
          <p>Join us on the rooftop for an brunch wedding and reception. Our one stop shop for a damn good time.</p>
          <div>
            <h3><b>Time:</b> 12 to 4PM</h3>
            <h3><b>Location: </b>PHD Rooftop at Dream Hotel</h3>
            <h3 style="margin-top: -1rem;">403 W 43rd St, New York, NY 10036</h3>
            <h3 class="links"><a href="http://phdlounge.com/home/" target="_blank">Website</a> | <a href="https://www.google.com/maps/place/PH-D+Lounge/@40.7422327,-74.003652,20.28z/data=!4m8!1m2!2m1!1sphd+rooftop+hotel!3m4!1s0x89c259bedf7b1531:0x8cc13ea6176df901!8m2!3d40.7421909!4d-74.0035579" target="_blank">Google Maps</a></h3>
          </div>

          <h1>After Party</h1>
          <hr>
            <h2>Open House After Party</h2>
            <p>Go explore the city! Then stop by our wedding suite to chill, swim, and wax philosophic.</p>
            <div>
              <h3><b>Time:</b> 6 PM to 11 PM</h3>
              <h3><b>Location: </b>Guest House at Dream Hotel</h3>
              <h3 style="margin-top: -1rem;">Suite Number: TBD</h3>
              <h3 class="links"><a href="http://www.dreamhotels.com/downtown/rooms/guesthouse-en.html" target="_blank">Website</a> | <a href="https://www.google.com/maps/place/Dream+Downtown/@40.7422327,-74.003652,20z/data=!3m1!5s0x89c259bed8a7c7c7:0x844ebabb70638802!4m8!1m2!2m1!1sphd+rooftop+hotel!3m4!1s0x89c259bed8c5fcff:0x7f89a8f361cdb531!8m2!3d40.742218!4d-74.003507" target="_blank">Google Maps</a></h3>
          </div>

      </div>
    </div>

    <nav id="desktopNav">
      <ul>
        <li>
          <a href="/details">Check out all the<span class="navElement">details »</span></a>
        </li>
        <li>
          <a href="/registry">Spy an eye on our <span class="navElement">registry »</span></a>
        </li>
        <li>
          <a href="/sights">Plan out your<span class="navElement" id="currentPage">sights »</span></a>
        </li>
      </ul>
    </nav>

    <nav id="mobileNav">
      <ul id="mobileNav">
        <li>
          <a href="/details"><span class="navElement">details »</span></a>
        </li>
        <li>
          <a href="/registry"><span class="navElement">registry »</span></a>
        </li>
        <li>
          <a href="/sights"><span class="navElement" id="currentPage">sights »</span></a>
        </li>
      </ul>
    </nav>


  </body>
</html>
