<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Party Time!</title>
    <link rel='shortcut icon' type='image/x-icon' href='./assets/favicon.ico' />
    <link rel="stylesheet" href="../styles/master.css" media="screen" charset="utf-8">
  </head>
  <body>

    <div class="mainContent">
      <h1>June 9th, 2018</h1>
      <hr>

      <h2>Wedding</h2>
      <p>Ceremony and brunch reception all in one. Our one stop for a damn good time.</p>
      <h3>12 to 4pm</h3>
      <h4 style="margin-bottom: 1.5rem;">PHD Rooftop at the Dream Hotel Downtown</h4>
      <h4 class="links"><a href="http://phdlounge.com/home/" target="_blank">Website</a> | <a href="https://www.google.com/maps/place/PH-D+Lounge/@40.7422327,-74.003652,20.28z/data=!4m8!1m2!2m1!1sphd+rooftop+hotel!3m4!1s0x89c259bedf7b1531:0x8cc13ea6176df901!8m2!3d40.7421909!4d-74.0035579" target="_blank">Google Maps</a></h4>
      <br/>

      <hr>

      <h2>After Party</h2>
      <p>Stop by our wedding suite, before or after sightseeing, to chill, swim, and wax philosophic.</p>
      <h3>6 to 11pm</h3>
      <h4 style="margin-bottom:1.5rem;">Guest House at the Dream Hotel Downtown</h4>
      <h4 class="links"><a href="http://www.dreamhotels.com/downtown/rooms/guesthouse-en.html" target="_blank">Website</a> | <a href="https://www.google.com/maps/place/Dream+Downtown/@40.7422327,-74.003652,20z/data=!3m1!5s0x89c259bed8a7c7c7:0x844ebabb70638802!4m8!1m2!2m1!1sphd+rooftop+hotel!3m4!1s0x89c259bed8c5fcff:0x7f89a8f361cdb531!8m2!3d40.742218!4d-74.003507" target="_blank">Google Maps</a></h4>
    </div>

    <nav>
      <ul>
        <li><a href="/the-day">the day<div id="underline"></div></a></li>
        <li><a href="/travel">travel</a></li>
        <li><a href="/registry">registry</a></li>
      </ul>
    </nav>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114048710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114048710-1');
    </script>
  </body>
</html>
