<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Party Time!</title>
    <link rel='shortcut icon' type='image/x-icon' href='./assets/favicon.ico' />
    <link rel="stylesheet" href="../styles/master.css" media="screen" charset="utf-8">
  </head>
  <body>

    <div class="mainContent">
      <h1>Transportation &amp; Hotels</h1>

      <hr>
      <h2>By Plane</h2>
      <h3>JFK International Airport</h3>
      <h4 class="links" style="margin-bottom:1.5rem;">Yellow Cab $65 &nbsp;|&nbsp; <a href="https://www.tripsavvy.com/getting-to-and-from-jfk-airport-1612053" target="_blank">Public Transit</a></h4>

      <h3>LaGuardia Airport</h3>
      <h4 class="links">Yellow Cab $55 &nbsp;|&nbsp; <a href="https://www.tripsavvy.com/getting-to-and-from-laguardia-airport-1612054" target="_blank">Public Transit</a></h4>
      <br />

      <hr>
      <h2>By Car</h2>
      <h3>Dream Hotel Parking&nbsp; &nbsp;
        <h4 class="links"><a  href="http://www.dreamhotels.com/downtown/hotel-policies-en.html" target="_blank">Valet $65 + tax per vehicle</a></h4>
      </h3>
      <br />

      <hr>
      <h2>Hotels</h2>
      <h3>Dream Hotel Downtown</h3>
      <h4 class="links" style="margin-bottom:1.5rem;">$345 &nbsp;|&nbsp; <a href="https://gc.synxis.com/rez.aspx?Hotel=63084&Chain=16978&group=COFONEDZIEDZIC&shell=RBE_dream&Chain=16978&template=RBE_dream&brand=dream" target="_blank">Book here online</a> or call for group rate</h4>

      <h3>Maritime Hotel</h3>
      <h4 class="links">$275 &nbsp;|&nbsp; <a href="https://gc.synxis.com/rez.aspx?Hotel=76630&Chain=10237&group=1806COFONE" target="_blank">Book here online</a> or call for group rate </h4>
    </div>

    <nav>
      <ul>
        <li><a href="/the-day">the day</a></li>
        <li><a href="/travel">travel<div id="underline"></div></a></li>
        <li><a href="/registry">registry</a></li>
      </ul>
    </nav>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114048710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114048710-1');
    </script>

  </body>
</html>
