/*General CSS for all pages*/
html, body {
  font-family: Helvetica;
  color: white;
  background-color: black;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Main content div for all pages*/
div.center {

  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;

}

#title {
  font-size: 5rem;
  text-align: 2px;
  letter-spacing: 3px;
  -vendor-animation-duration: 15s;
  -vendor-animation-delay: 10s;
}

#date {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}

/*Navigation CSS styling*/
nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding-left: 0;
  font-weight: 300;
}

nav li {
  padding: 2rem;
  font-weight: 500;
  letter-spacing: 0.5px;

}

li:hover {
  color: #afafaf;
}

.about-border {
    display: block;
    width: 55px;
    height: 3px;
    background: #f1cd8f;
    margin: 10px auto;
}

/*The Day CSS*/
div.mainContent {
  padding: 1.5rem;
  margin: 0 auto;
  width: 350px;
  text-align: left;
  font-weight: 500;
}

hr {
  border-color: #9A9A9A;
}

div.mainContent h1 {
  text-transform: uppercase;
  /*font-weight: 400;*/
  font-size: .9rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
    font-weight: 500;
}

div.mainContent h2 {
  color: #f1cd8f;
    font-weight: 500;
}

div.mainContent p {
  /*color: #9A9A9A;*/
    font-weight: 500;
    line-height: 1.2rem;

}

div.mainContent h3 {
    font-weight: 500;
}

div.mainContent h4 {
  color: #9A9A9A;
  line-height: 0;
    font-weight: 500;

}


.links {
  font-size: 1rem;
  margin-bottom: 4rem;
  color: #9A9A9A;

}

.links a:hover{
  color: white;
}
